<h1>Admin page</h1>

<mat-card>

  <div class="container">
    <h2>Add new awesome</h2>


    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Title" type="text" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput formControlName="url" placeholder="Url" type="text" required>
      </mat-form-field>

      <button mat-raised-button color="primary">Add</button>
    </form>

  </div>

</mat-card>
